Options -Indexes
Options -MultiViews

RewriteEngine On
RewriteBase /

# Block direct access to sensitive folders
RewriteRule ^(app|config|storage|vendor)/ - [F,L]

# Send all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
